*{
    margin: 0;
    padding: 0;
    background-color: #8B9D83;
}

h1{
    color: black;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    cursor: pointer;
    opacity: 60%;
    background-color: #081b31;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score, #comp-score{
    font-size: 4rem;
}

.msg-cont{
    margin-top: 5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

#msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

#about{
    position: fixed;
    bottom: 15px; 
    left: 89%;
    background-color: transparent;
    font-size: 16px;
    color: rgb(251, 251, 251);
    text-align: center;
}